.h1{
 font-family: 'Indie Flower', cursive;
 font-size: 50px; 
 color: black;
}
#marqueeStyle{
    background-color: beige;
}
.h2{
  font-family: 'Indie Flower', cursive;
  color: black;
}
.menu{
    list-style: none;
    font-family: sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links{
    float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    padding-right: 9px;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    background-color: beige;
    color: saddlebrown;
    text-decoration-color: none;
}

.links:hover{
    background-color: darkblue;
    color: white;
}
body{
    background-image: url(light-green-waves-background-latest-e1434941912871.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
html{
    scroll-behavior: smooth;
}
#vid{
    border: 5px;
    border-color: black;
    width: 100%;
}
.img-responsive{
    height: 500px;
    width: 25%;
}
.flex-container{
    display: flex;
}